*{
    padding: 0%;
  margin: 0%;
}

body{
  background-color:#e5c07b ;

}

nav{
  background-color:#4577a1 ;
  width:100% ;
  height:10vh ;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: white;
}

.Nav-User{
  display: flex;
  width:30% ;
  flex-direction: row;
  gap: 5vh;
  padding-left: 5vh;
  font-size: 9vh;

.Enlaces{
  gap: 7vh;
 font-size: 5vh; 

  display: flex;
  align-items: center;
}


.Enlaces a{
  text-decoration: none;
  color: white;

}

.Enlaces a:hover{
  color: #e5c07b;
  cursor: pointer ;
  
}
